<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title> 
    <link rel="icon" href="https://cerbi.neocities.org/images/favicon.png" type="image/x-icon"/>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>

  <!--insert navbar here-->
  <div class=header></div>
  <!-- Insert header here -->
  <div class=title></div>
  <!-- Insert title here. -->
  <div class=page-wrapper>
  
    
    
    <div class=main>
      <div class=box><div class=inner id="content">
      </div></div>
      <div id="blog-entries"></div>
      
    </div>
  </div>
  
  </body>
</html>
